# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Debug
/Release
/x64
/Jeweled/Debug
/Jeweled/Release
/Jeweled/x64
/Resources/_afont1.gif
/Resources/_mainfont1.gif
/Resources/1980-Autonomus.s3m
/Resources/1984-Network.s3m
/Resources/afont1.txt
/Resources/alphaback1.tga
/Resources/checkertextures2.tga
/Resources/combo22.ogg
/Resources/cursor1.tga
/Resources/dialogbox360-200.tga
/Resources/gemongem2.ogg
/Resources/go1.ogg
/Resources/gotset2.ogg
/Resources/JewelSheet.tga
/Resources/over1-hint1.png
/Resources/over2-newgame-pushed1.png
/Resources/over3-normal-pushed1.png
/Resources/over4-timetrial-pushed1.png
/Resources/over5-options-pushed1.png
/Resources/over6-quit-pushed1.png
/Resources/over7-normal-selected1.png
/Resources/over8-timetrial-selected1.png
/Resources/pointer2.tga
/Resources/select.ogg
/Resources/target1.tga
/Resources/titlescreen6.jpg
